.flex {
    display: flex;
}
.flex_space-between {
    justify-content: space-between;
}
.flex_direction_column {
    flex-direction column;
}
.flex_justify_content_center {
    justify-content center;
}
.flex_align_items_center{
    align-items center;
}
